body {
    font-family: "roboto", sans-serif;
    color: #434455;
}

/* Header */
.header-logo {

}

/* List */
.list {
    list-style: none;
}

/* Header site */
.header-site .link {
    color: #2E2F42;
}

/* Header-wrap */
.header-wrap .link {
    color: #434455;
}

.header-wrap .link:hover, .header-wrap .link:focus {
    color: #4D5AE5;
}

/* Button */
.main-button {
    color: #FFFFFF;
}
.main-button:hover, .main-button:focus {
    color: #4D5AE5
}