body {
    font-family: "roboto", sans-serif;
    color: #434455;
}

/* Header */
.header-logo {

}

/* List */
.list {
    list-style: none;
}

/* Header site */
.header-site a {
    color: #2E2F42;
}

/* Header-wrap */
.header-wrap a {
    color: #434455;
}