body {
    font-family: "roboto", sans-serif;
    color: #434455;
}

/* Header */
.header-logo {

}

/* List */
.list {
    list-style: none;
}

/* Header site */
.header-site .link {
    color: #2E2F42;
}

.header-site .link:hover, .header-site .link:focus {
    color: #4D5AE5;
}

/* Header-wrap */
.header-wrap .link {
    color: #434455;
}